ul{
    list-style: none;
    text-align: right;
}
ul li .hidden-text{
    color : #888;
}
ul li a{
    padding-right: 30px;
    box-sizing: border-box;
}
ul li {
    padding : 3px 0 ;
}
ul li.list-item{
    cursor: pointer;
}
ul .active{
    background : #9912b1;
    border-right: 3px solid #e51287;
    color : #fff;
}
ul li .link {
    width: 100%;
    display: block;
    padding: 3px 10px 3px 0 ;
}
ul li.active .link{
    color : #fff;
}
.link{
    color : #000;
    text-decoration: none;
    font-weight: bold;
}